#anlatan-nai-extras-warning {
    font-size: small;
}

.anlatan-nai-extras-warning-active {
    padding:1em;
    border: 2px solid var(--fullred);
}

#anlatan-nai-extras-chatPrune {
    margin: 0;
    padding: 0 3px;
    width: 26px;
}

#anlatan-nai-extras-characterStatus {
    color: var(--SmartThemeEmColor);
    font-size: small;
}

#anlatan-nai-extras-saveToCharacter {
    margin-left: auto;
    margin-right: 1em;
}

#anlatan-nai-extras-saveToCharacter,
#anlatan-nai-extras-resetStoryString {
    font-size: larger;
    padding: 5px;
}

.mes_text blockquote {
    border: 1px solid var(--SmartThemeBorderColor);
    padding: 1em;
}

.mes_text blockquote p {
    color: var(--SmartThemeEmColor);
    margin: 0;
    padding: 0;
}

